/* 
// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────
*/

/* ******************* */
/*       COLLAGE       */
/* ******************* */

#collage {
  padding: var(--section-padding);

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  img {
    height: 144px;
    width: auto;
    border-radius: 10px;
  }
}

/* TABLET */
@media only screen and (min-width: 48rem) {
  #collage {
    .container {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
    }
  }
}

/* ******************* */
/*    SINGLE COLUMN    */
/* ******************* */

#single-column {
  padding: var(--section-padding);

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}

/* TABLET */
@media only screen and (min-width: 48rem) {
  #single-column {
    max-width: calc(540 / 16 * 1rem);
    margin: 0 auto;
  }
}

/* ******************* */
/*        NUMBER       */
/* ******************* */

#number {
  padding: var(--section-padding);
  padding-top: 2rem;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
  }

  .line {
    border-left: 1px solid var(--slate-300);
    height: 80px;
    width: 1px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: -80px;
    top: 0;
  }

  .number {
    height: 56px;
    width: 56px;
    color: var(--slate-600);
    border: 1px solid var(--slate-300);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
  }

  &.offset {
    margin-bottom: -60px;
  }
}
