/* 
// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────
*/

/* ******************* */
/*       COLLAGE       */
/* ******************* */

.collage {
  padding: var(--section-padding);

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  img {
    height: 144px;
    width: auto;
    border-radius: 10px;
  }
}

/* ******************* */
/*    SINGLE COLUMN    */
/* ******************* */

#single-column {
  padding: var(--section-padding);

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}
